{% extends "base.html" %}

{% block app_content %}
    <h1>{{category}}</h1>
    {% if form %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.post.label }}<br>
            {{ form.post(cols=32, rows=4) }}<br>
            {% for error in form.post.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    {% endif %}
    <body>
    	<p>Latest News In {{category}}:
						<br>
						{%for item in news%}
        <br>
        News Title: {{item[1]}}
								<br>
								Summary: {{item[2]}}
								<br>
								<a href={{item[0]}}>{{item[0]}}</a>
								<br>
						{%endfor%}
						<br>
  </body>
{% endblock %}
